footer.bg-dark.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0.text-white Copyright &copy; BotForgeAI 2025
            .col-auto
                a.link-light.small(href='privacy.html') Privacy
                span.text-white.mx-1 &middot;
                a.link-light.small(href='terms.html') Terms
                //- span.text-white.mx-1 &middot;
                //- a.link-light.small(href='mailto:admin@botforge.co.in') admin@botforge.co.in